#apresentacao {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    margin-left: 3%;
    gap: 2rem;
    background: url('../assets/image/simbolo.png') no-repeat center bottom;
    background-size: 50px;
    background-position: center calc(100% - 100px); /* ajusta a altura da imagem */
}

h1 {
    background-image: radial-gradient(#F4F440,#A6A663, #f2f2cb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: clamp(2.5rem, 5vw, 4rem);
    margin-bottom: clamp(2rem, 5vw, 8rem);
} 

h2 {
    background-image: linear-gradient(#F4F440, #A6A663, #f2f2cb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    font-size: clamp(1.5rem, 2vw, 2rem);
    word-wrap: break-word;
    width: 50%;
    margin-bottom: clamp(2rem, 5vw, 3rem);
}

.icones-redes-sociais {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin-bottom: clamp(2rem, 5vw, 3rem);
}

.icones-redes-sociais a {
    margin-right: 1rem;
    transition: transform 0.3s ease;
}

.icones-redes-sociais a:last-child {
    margin-right: 0; /* remove margin do último ícone */
}

.icones-redes-sociais a:hover {
    transform: scale(1.1);
}




