#secao-contato {
    min-height: 70vh;    
}

.secao-contato {
    /* min-height: calc(70vh - 50px); subtrai altura aproximada do título */
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

input::placeholder, textarea::placeholder{
    color: var(--cor-fundo);
    font-weight: 400;
    font-family:"Montserrat", serif; 
}

#nome, #email, #assunto, #msg {
    width: 100%;
    max-width: 400px;
    margin-bottom: 2%;
}

#msg {
    height: 80px;
}

.btn-enviar {
    width: 150px;
    height: 50px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    color: var(--cor-fundo);
    background-color: var(--cor-principal);  
    transform: translateX(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-enviar:hover{
    background-color: var(--cor-secundaria);  
}
