#secao-habilidades{
   min-height: 100%;
   
}

.imagens-habilidades {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 5% 0 5% 0;
    
}

.imagens-habilidades img {
    padding: 2rem;
}