#secao-projetos {
    margin: 10% 0 8% 0;
}

.projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 2% 5% 2%;
}

.projetos a {
    text-align: center;
}

.projetos p {
    margin: 2% 0 10% 0;
    color: var(--cor-texto-claro);
    word-wrap: break-word;
}
